<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    <title>Dota 2 - Таблица лидеров (not official)</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Получение временных меток с сервера
            var timePosted = parseInt("{{ last_update }}");
            var nextScheduledPostTime = parseInt("{{ next_update }}");

            // Преобразование временных меток в объекты Date
            var datePosted = new Date(timePosted * 1000);
            var dateScheduled = new Date(nextScheduledPostTime * 1000);

            // Отображение локального времени пользователя
            document.getElementById("last-update").textContent = 'Последнее обновление: ' + datePosted.toLocaleString();
            document.getElementById("next-update").textContent = 'Следующее обновление: ' + dateScheduled.toLocaleString();
        });
    </script>
</head>
<body>
<header>
    <h2 class="text-center">Всемирные таблицы лидеров</h2>
    <p class="text-center" id="last-update"></p>
    <p class="text-center" id="next-update"></p>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('read_root', region='americas') }}">Америка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('read_root', region='europe') }}">Европа</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('read_root', region='se_asia') }}">ЮВ Азия</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('read_root', region='china') }}">Китай</a>
        </li>
    </ul>
</header>
<main>
    {% if data %}
        <p class="text-center">Количество: {{ data|length }}</p>
    {% endif %}
    <div class="tables_filters">
        <div class="filters">
            <form id="filter-form">
                <input type="hidden" name="region" value="{{ region }}">
                <div class="input_count">
                    <label>Ранг:</label>
                    <input type="number" id="rank_from" name="rank_from" placeholder="От" value="{{ rank_from }}">
                    <input type="number" id="rank_to" name="rank_to" placeholder="До" value="{{ rank_to }}">
                </div>
                <div>
                    <label>Страны: </label>
                    <div class="countries" style="max-height: 300px; overflow-y: auto;">
                        {% for code, name in countries.items() %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="countries" value="{{ code }}"
                                       id="country-{{ code }}"
                                       {% if selected_countries and code in selected_countries %}checked{% endif %}>
                                <label class="form-check-label" for="country-{{ code }}">
                                    {{ name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="input_team">
                    <label>Киберспортивная команда:</label>
                    <select id="team" name="team">
                        <option value="" {% if team == '' %}selected{% endif %}>Все</option>
                        <option value="yes" {% if team == 'yes' %}selected{% endif %}>Да</option>
                        <option value="no" {% if team == 'no' %}selected{% endif %}>Нет</option>
                    </select>
                </div>
                <div class="search_by_name">
                    <label>Никнейм игрока: </label>
                    <input type="text" id="name_player" name="name_player" placeholder="Никнейм"
                           value="{% if name_player %}{{ name_player }}{% endif %}">
                </div>
                <button type="submit" class="btn btn-primary">Фильтр</button>
            </form>
        </div>
        {% if data %}
            <table class="tables_own">
                <thead>
                <tr>
                    <th scope="col">Позиция в дивизионе</th>
                    <th scope="col">Игрок</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for i in data %}
                    <tr>
                        <td>{{ i['rank'] }}</td>
                        <td>
                            {% set name = '' %}
                            {% if i['team_tag'] %}
                                {% set name = name + i['team_tag'] + '.' %}
                            {% endif %}
                            {% set name = name + i['name'] %}
                            {% if i['sponsor'] %}
                                {% set name = name + '.' + i['sponsor'] %}
                            {% endif %}
                            {{ name.replace(" ", "") }}
                        </td>
                        <td>
                            {% if i['country'] %}
                                <img src="https://flagsapi.com/{{ i['country']|upper }}/flat/24.png">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <table class="tables_own">
                <thead>
                <tr>
                    <th scope="col">Позиция в дивизионе</th>
                    <th scope="col">Игрок</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        {% endif %}

    </div>

</main>
<footer class="footer text-center">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">

            <!-- Email -->
            <a data-mdb-ripple-init
               class="btn btn-link btn-floating btn-lg text-body m-1"
               href="mailto: belekovaden31@gmail.com"
               role="button"
               data-mdb-ripple-color="white"><i class="fa-solid fa-envelope"></i></a>

            <!-- Github -->
            <a data-mdb-ripple-init
               class="btn btn-link btn-floating btn-lg text-body m-1"
               href="https://github.com/Belekov-Aden"
               role="button"
               data-mdb-ripple-color="white"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright: Belekov Aden
    </div>
    <!-- Copyright -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script>
    document.getElementById('filter-form').addEventListener('submit', function (event) {
        event.preventDefault();
        const form = event.target;
        const params = new URLSearchParams(new FormData(form));

        // Обработка множественного выбора стран
        const countries = Array.from(form.querySelectorAll('input[name="countries"]:checked')).map(cb => cb.value);
        if (countries.length > 0) {
            params.set('countries', countries.join(','));
        } else {
            params.delete('countries');
        }

        const region = form.querySelector('input[name="region"]').value;
        window.location.href = `/${region}?${params.toString()}`;
    });
</script>
<script src="https://kit.fontawesome.com/f6a8e85efb.js" crossorigin="anonymous"></script>
</body>
</html>
